.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: flex-start;
  justify-content: flex-start;
}

.App-body {
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-navbar {
  margin: 20px;
  display: flex;
  align-items: center;
}

.App-margin {
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
