.remove-button-style {
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.paper-style {
  padding: 20px;
  margin-top: 20px;
  border: 2px solid lightblue;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
}